//colors
$text-color-header: #3a494c;
$bgc-blue: #a7d4dc;

//fonts
@font-face {
	font-family: 'Carton';
	src: url('../fonts/Carton-Slab.otf')
	format('opentype');
	font-weight: normal;
	font-style: normal;
}

$font-size: 19px; //px
$carton: 'Carton', serif;
$myriad: "Myriad Pro", Helvetica, Arial, sans-serif;
$open_sans: 'Open Sans', Helvetica, Arial, sans-serif;

//media
$tablet: "min-width: 768px";
$desktop: "min-width: 992px";
$mobile: "max-width: 767px";


// self-clear floats
%group:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

* {
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
}

body {
	font-family: $open_sans;
	position: relative;
	font-size: $font-size;
	line-height: (27px/$font-size); //27x19
	text-align: center;
}

input, textarea {
	font-family: $open_sans;
	font-size: 1em;
}

section {
	padding-bottom: 5%;
}

%title {
	font-family: "Carton";
	line-height: 1.2;
	@media ($desktop) {
		font-size: 2.3em;
	}
}

header#home {
	color: $text-color-header;
	background-color: $bgc-blue;
	padding-bottom: 50px;
	h2 {
		@extend %title;
	}
}

#logo {
	font-family: $carton;
	font-size: 1em;
	line-height: 1.5;
	min-height: 36px;
	letter-spacing: 1px;
	img {
		display: inline-block;
	}
}

%navbar-link-hover {
	background-color: $text-color-header;
	color: $bgc-blue;
	border-radius: 5px;
}
.navbar {
	background-color: transparent;
	border: none;
	padding-top: 12px;
	.navbar-header {
		min-height: 60px;
	}
	.navbar-brand, a {
		color: $text-color-header;
		font-weight: bold;
	}
	.navbar-brand {
		padding: 10px 15px;
	}
	li {
		&.active {
			a {
				@extend %navbar-link-hover;
			}
		}
		a:hover, a:active, a:focus {
			@extend %navbar-link-hover;
		}
	}

	.icon-bar {
		background-color: $text-color-header;
		height: 3px;
		width: 27px;
	}
}

.carousel-indicators {
	bottom: -25px;
	@media ($tablet) {
		bottom: -50px;
	}
	li {
		width: 20px;
		height: 20px;
		margin: 3px 6px;
		&.active {
			width: 22px;
			height: 22px;
			margin: 2px 6px;
		}
	}
}

.carousel-caption {
	@media ($mobile){
		position: static;
	}
}

.col-sm-pull-5 {
	left: 0;
}

.carousel{
	.item {
		&.row {
			margin: 0;
		}
		img {
			@media ($mobile) {
				margin: 0 auto;
			}
		}
	}
}

.section_title, .section_lead {
	color: #feffff;
}

.section_title {
	@extend %title;
	padding: 3% 0 1%;
}

.section_lead {
	opacity: .46;
	font-weight: 400;
	font-size: (16px/$font-size)+em;
	margin: 0 auto 8%;
  @media ($tablet) {
  	width: 60%;
  }
}

#services {
	padding: 8% 0 8%;
	figure {
		margin: 0 0 11%;
		h1 {
			font-size: (23px/$font-size)+em;
			font-family: $open_sans;
			font-weight: bold;
			color: #323232;
			line-height: (27/23);
			margin: 3% 0 2%;
		}

		p {
			color: #5e5e5e;
		}

		img {
			max-height: 113px;
		}
	}
}
.show_more_button {
	border-radius: 9px;
	text-transform: uppercase;
	color: #fff;
	font-size: (22px/$font-size)+em;
	font-weight: 600;
	padding: 20px 10px;
	width: 185px;
	margin: 10px auto 0;
	cursor: pointer;
	border: none;
	&:hover {
		color: #333;
    background-color: rgba(0,0,0,.5);
	}
}

#portfolio {
	background-color: #9bd6a7;
	nav {
		@extend %group;
		margin: 5% 0;

		ul {
			text-align: center;
		}
		
		li {
			margin: 0 2%;
			text-align: center;
			display: inline-block;

			&.active {
				a {
					color: #a2a3a3;
					background-color: #fff;
					border-radius: 9px;
				}
			}
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		a {
			padding: 10px 10px 5px;
			color: #fff;
			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;
			border: 2px solid transparent;
			&:hover {
				border: 2px solid #fff;
				border-radius: 9px;
				background-color: transparent;
				cursor: pointer;
			}
		}
	}

	.show_more_button {
		color: #a2a3a3;
		border: none;
		margin: 5% 0;
	}

	img {
		margin-bottom: 3%;
	}
}

.mix {
  display: none;
}

#photoshop_template {
	padding: 5% 0;
	text-align: left;
	h1 {
		font-size: 1em;
		color: #3f3f3f;
		font-weight: bold;
		line-height: 1.1;
	}

	p {
		color: #515151;
		margin: 20px 0;
		font-size: (16px/$font-size)+em;
	}

	figure {
		padding: 5% 0;
		&:first-child {
			border-bottom: 1px solid #cacaca;
		}
	}

	.show_more_button {
		background: #9ad4a6;
		text-align: center;
		&.blue_btn {
			background-color: $bgc-blue;
		}
	}
}

article {
	background-color: #fff;
	margin-bottom: 8%;
	padding-bottom: 5%;
	
	img {
		width: 100%;
	}

	h1 {
		font-size: (27px/$font-size)+em;
		font-weight: bold;
	}

	p {
		padding: 15px;
	}

	time {
		font-style: italic;
	}
}

#team {
	background-color: #e1b8c7;
	article {
		h1 {
			font-family: $carton;
			font-weight: 500;
		}
	}
}

#blog {
	background-color: #b4d4e0;
	.show_more_button {
		color:#b4d4e0;
	}
}

#contact {
	background-color: #3c3d3d;
	text-align: left;
	.section_title, .section_lead {
		color: #d3d0d0;
		opacity: 1;
		text-align: center;
	}
}

footer {
	background-color: #3c3d3d;
}

footer, form input, header {
	text-align: left;
}