//colors
$text-color-header: #3a494c;
$bgc-blue: #a7d4dc;

//fonts
@font-face {
	font-family: 'Carton';
	src: url('../fonts/Carton-Slab.otf')
	format('opentype');
	font-weight: normal;
	font-style: normal;
}

$font-size: 19; //px
$carton: 'Carton', serif;
$myriad: "Myriad Pro", Helvetica, Arial, sans-serif;

//media
$tablet: "min-width: 768px";


/* self-clear floats */

.group:after {
	content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

img {
	max-width: 100%;
}

body {
	font-family: $myriad;
	position: relative;
	font-size: $font-size+px;
	line-height: (27/$font-size); /*27x19*/
	text-align: center;
}

header#home {
	color: $text-color-header;
	background-color: $bgc-blue;
	.navbar-default {
		background-color: transparent;
		border: none;
		padding-top: 12px;
		.navbar-header {
			min-height: 60px;
		}
		.navbar-brand, a {
			color: $text-color-header;
			text-decoration: none;
			font-weight: bold;
		}
		.navbar-brand {
			padding: 10px 15px;
		}
		.active a {
			background-color: $text-color-header;
			color: $bgc-blue;
			border-radius: 10px;
		}
	}
}

#logo {
	font-family: $carton;
	font-size: 1em;
	line-height: 1.5;
	min-height: 36px;
	letter-spacing: 1px;
	img {
		display: inline-block;
	}
}