@font-face {
  font-family: 'Carton';
  src: url("../fonts/Carton-Slab.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

#portfolio nav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

* {
  transition: all .3s ease-in-out; }

img {
  max-width: 100%; }

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 19px;
  line-height: 1.42105;
  text-align: center; }

input, textarea {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1em; }

section {
  padding-bottom: 5%; }

header#home h2, .section_title {
  font-family: "Carton";
  line-height: 1.2; }
  @media (min-width: 992px) {
    header#home h2, .section_title {
      font-size: 2.3em; } }

header#home {
  color: #3a494c;
  background-color: #a7d4dc;
  padding-bottom: 50px; }

#logo {
  font-family: "Carton", serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 36px;
  letter-spacing: 1px; }
  #logo img {
    display: inline-block; }

.navbar li.active a, .navbar li a:hover, .navbar li a:active, .navbar li a:focus {
  background-color: #3a494c;
  color: #a7d4dc;
  border-radius: 5px; }

.navbar {
  background-color: transparent;
  border: none;
  padding-top: 12px; }
  .navbar .navbar-header {
    min-height: 60px; }
  .navbar .navbar-brand, .navbar a {
    color: #3a494c;
    font-weight: bold; }
  .navbar .navbar-brand {
    padding: 10px 15px; }
  .navbar .icon-bar {
    background-color: #3a494c;
    height: 3px;
    width: 27px; }

.carousel-indicators {
  bottom: -25px; }
  @media (min-width: 768px) {
    .carousel-indicators {
      bottom: -50px; } }
  .carousel-indicators li {
    width: 20px;
    height: 20px;
    margin: 3px 6px; }
    .carousel-indicators li.active {
      width: 22px;
      height: 22px;
      margin: 2px 6px; }

@media (max-width: 767px) {
  .carousel-caption {
    position: static; } }

.col-sm-pull-5 {
  left: 0; }

.carousel .item.row {
  margin: 0; }

@media (max-width: 767px) {
  .carousel .item img {
    margin: 0 auto; } }

.section_title, .section_lead {
  color: #feffff; }

.section_title {
  padding: 3% 0 1%; }

.section_lead {
  opacity: .46;
  font-weight: 400;
  font-size: 0.84211em;
  margin: 0 auto 8%; }
  @media (min-width: 768px) {
    .section_lead {
      width: 60%; } }

#services {
  padding: 8% 0 8%; }
  #services figure {
    margin: 0 0 11%; }
    #services figure h1 {
      font-size: 1.21053em;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: #323232;
      line-height: 1.17391;
      margin: 3% 0 2%; }
    #services figure p {
      color: #5e5e5e; }
    #services figure img {
      max-height: 113px; }

.show_more_button {
  border-radius: 9px;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.15789em;
  font-weight: 600;
  padding: 20px 10px;
  width: 185px;
  margin: 10px auto 0;
  cursor: pointer;
  border: none; }
  .show_more_button:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.5); }

#portfolio {
  background-color: #9bd6a7; }
  #portfolio nav {
    margin: 5% 0; }
    #portfolio nav ul {
      text-align: center; }
    #portfolio nav li {
      margin: 0 2%;
      text-align: center;
      display: inline-block; }
      #portfolio nav li.active a {
        color: #a2a3a3;
        background-color: #fff;
        border-radius: 9px; }
      #portfolio nav li:first-child {
        margin-left: 0; }
      #portfolio nav li:last-child {
        margin-right: 0; }
    #portfolio nav a {
      padding: 10px 10px 5px;
      color: #fff;
      font-size: 1em;
      font-weight: 600;
      text-transform: uppercase;
      border: 2px solid transparent; }
      #portfolio nav a:hover {
        border: 2px solid #fff;
        border-radius: 9px;
        background-color: transparent;
        cursor: pointer; }
  #portfolio .show_more_button {
    color: #a2a3a3;
    border: none;
    margin: 5% 0; }
  #portfolio img {
    margin-bottom: 3%; }

.mix {
  display: none; }

#photoshop_template {
  padding: 5% 0;
  text-align: left; }
  #photoshop_template h1 {
    font-size: 1em;
    color: #3f3f3f;
    font-weight: bold;
    line-height: 1.1; }
  #photoshop_template p {
    color: #515151;
    margin: 20px 0;
    font-size: 0.84211em; }
  #photoshop_template figure {
    padding: 5% 0; }
    #photoshop_template figure:first-child {
      border-bottom: 1px solid #cacaca; }
  #photoshop_template .show_more_button {
    background: #9ad4a6;
    text-align: center; }
    #photoshop_template .show_more_button.blue_btn {
      background-color: #a7d4dc; }

article {
  background-color: #fff;
  margin-bottom: 8%;
  padding-bottom: 5%; }
  article img {
    width: 100%; }
  article h1 {
    font-size: 1.42105em;
    font-weight: bold; }
  article p {
    padding: 15px; }
  article time {
    font-style: italic; }

#team {
  background-color: #e1b8c7; }
  #team article h1 {
    font-family: "Carton", serif;
    font-weight: 500; }

#blog {
  background-color: #b4d4e0; }
  #blog .show_more_button {
    color: #b4d4e0; }

#contact {
  background-color: #3c3d3d;
  text-align: left; }
  #contact .section_title, #contact .section_lead {
    color: #d3d0d0;
    opacity: 1;
    text-align: center; }

footer {
  background-color: #3c3d3d; }

footer, form input, header {
  text-align: left; }
