@font-face {
  font-family: 'Carton';
  src: url("../fonts/Carton-Slab.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* self-clear floats */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

img {
  max-width: 100%; }

body {
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  position: relative;
  font-size: 19px;
  line-height: 1.42105;
  /*27x19*/
  text-align: center; }

header#home {
  color: #3a494c;
  background-color: #a7d4dc; }
  header#home .navbar-default {
    background-color: transparent;
    border: none;
    padding-top: 12px; }
    header#home .navbar-default .navbar-header {
      min-height: 60px; }
    header#home .navbar-default .navbar-brand, header#home .navbar-default a {
      color: #3a494c;
      text-decoration: none;
      font-weight: bold; }
    header#home .navbar-default .navbar-brand {
      padding: 10px 15px; }
    header#home .navbar-default .active a {
      background-color: #3a494c;
      color: #a7d4dc;
      border-radius: 10px; }

#logo {
  font-family: "Carton", serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 36px;
  letter-spacing: 1px; }
  #logo img {
    display: inline-block; }
