.social_footer {
  background-image: url(../images/social_footer.png);
  background-repeat: no-repeat;
  display: inline-block; }

.social_footer-colon_footer {
  width: 56px;
  height: 56px;
  background-position: 0 0; }

.social_footer-facebook_footer {
  width: 56px;
  height: 56px;
  background-position: -56px 0; }

.social_footer-html5_footer {
  width: 56px;
  height: 56px;
  background-position: 0 -56px; }

.social_footer-twitter_footer {
  width: 56px;
  height: 56px;
  background-position: -56px -56px; }
